[Desktop Entry]
Name=Quick Shutdown
GenericName=Shutdown the computer directly
Comment=Usability utility that allows quick shutdown the computer
Categories=Utility;Accessories;System Tools;
Exec=com.github.saidbakr.quick-shutdown
Icon=system-shutdown
Terminal=false
Type=Application
Keywords=shutdown;turn;off;close;quick;